:root{
  --bg-body: #fafafa;
  --bg-header: #466173;
  --bg-footer: #273b47;
  
  --fontSize: 18px;
  
  --btn-gradient: #fd324e;
  /*blackness lo que hace es colocarle oscuridad al color*/
  --btn-gradient-start: color(var(--btn-gradient) blackness(30%));
  /*lightness lo que hace es colocarle claridad al color*/
  /*hue lo que hace es colocarle mas cambio al color*/
  --btn-gradient-end: color(var(--btn-gradient) lightness(+10%) hue(10%));
  --border-feature:#1F313C;
}
